<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Ballon d'Or</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <%- include('partials/header') %>
  
  <h1>Ballon d'Or 2024</h1>

  
  

  <%- include('partials/footer') %>
</body>
</html>
