<header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/vini">Vinícius Júnior</a></li>
        <li><a href="/bellingham">Jude Bellingham</a></li>
        <li><a href="/rodri">Rodri</a></li>
      </ul>
    </nav>
  </header>